.account-container {
  display: grid;
  place-items: center;
  padding: 24px;
}

form {
  width: 100%;
  max-width: 800px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}

.form-actions {
  display: flex;
  justify-content: flex-end; // Push button to the right
  margin-top: 16px;
}
