<div class="account-container" @if(appUser())>
  <h1>{{ "app.account.title" | translate }}</h1>

  <form [formGroup]="accountForm" (ngSubmit)="save()">
    <div class="form-grid">
      <mat-form-field>
        <mat-label>{{ "app.account.username" | translate }}</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "app.account.firstName" | translate }}</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "app.account.lastName" | translate }}</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <!-- Country autocomplete field -->
      <mat-form-field>
        <mat-label>{{ "app.account.country" | translate }}</mat-label>
        <input
          type="text"
          matInput
          formControlName="country"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onCountrySelected($event.option.value)"
          [displayWith]="countryName.bind(this)"
        >
          @for (country of filteredCountriesSignal(); track country.code) {
            <mat-option [value]="country.code">{{ country.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "app.account.language" | translate }}</mat-label>
        <mat-select formControlName="language">
          @for (l of languages; track l) {
            <mat-option [value]="l">{{ l.toUpperCase() }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "app.account.theme" | translate }}</mat-label>
        <mat-select formControlName="theme">
          @for (t of themes; track t) {
            <mat-option [value]="t">{{ t | translate }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-divider></mat-divider>

    <div class="form-actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!accountForm.dirty || accountForm.invalid || saving()"
      >
        @if (saving()) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          {{ "app.account.save" | translate }}
        }
      </button>
    </div>
  </form>
</div>
