<mat-stepper
  class="new-sound-stepper"
  [orientation]="(stepperOrientation | async)!"
>
  <!-- Step 1 : upload sound-->
  <mat-step [completed]="soundUploaded()">
    <ng-template matStepLabel>
      {{ "sound.sound-title" | translate }}
    </ng-template>

    <app-sound-upload-step
      (uploaded)="onSoundUploaded($event)"
    ></app-sound-upload-step>

    <div>
      <button mat-button matStepperNext [disabled]="!soundUploaded()">
         {{ "common.action.next" | translate }}
      </button>
    </div>
  </mat-step>

  <!-- Step 2 : locate sound -->
  <mat-step [completed]="!!selectedPlace()">
    <ng-template matStepLabel>
      {{ "sound.place-title" | translate }}
    </ng-template>

    <app-place-step (placeSelected)="onPlaceSelected($event)"></app-place-step>

    <div>
      <button mat-button matStepperPrevious>{{ "common.action.back" | translate }}</button>
      <button mat-button matStepperNext [disabled]="!selectedPlace()">
        {{ "common.action.next" | translate }}
      </button>
    </div>
  </mat-step>

  <!-- Step 3 : sound data -->
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>
      {{ "sound.data-title" | translate }}
    </ng-template>
    <app-sound-data-step
      (completed)="onSoundDataCompleted($event)"
    ></app-sound-data-step>
    <div>
      <button mat-button matStepperPrevious>{{ "common.action.back" | translate }}</button>
      <button mat-button matStepperNext>{{ "common.action.next" | translate }}</button>
    </div>
  </mat-step>

  <!-- Step 4 : confirmation -->
  <mat-step>
    <ng-template matStepLabel>{{
      "sound.confirmation-title" | translate
    }}</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
