<mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!"
>
  <!-- Step 1 : upload sound-->
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{
        "new-sound.stepper.sound-title" | translate
      }}</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Last name, First name"
          formControlName="firstCtrl"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 2 : locate sound -->
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{
        "new-sound.stepper.place-title" | translate
      }}</ng-template>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="secondCtrl"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 3 : locate sound -->
  <mat-step [stepControl]="thirdFormGroup" label="Fill out your phone number">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>{{
        "new-sound.stepper.data-title" | translate
      }}</ng-template>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input
          matInput
          formControlName="thirdCtrl"
          placeholder="Ex. 12345678"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <!-- Step 4 : confirmation -->
  <mat-step>
    <ng-template matStepLabel>{{
      "new-sound.stepper.confirmation-title" | translate
    }}</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>
