:host {
  display: block;
  width: 100%;
  max-width: 900px;
  margin: 10px auto;
}

.new-sound-stepper {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

// Style for stepper navigation buttons
.stepper-actions {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 24px;
}
