<mat-toolbar color="primary">
  <span>Ma toolbar</span>
  <span class="spacer"></span>

  @if (authenticator.user) {
    <span class="user-email">{{ authenticator.user?.signInDetails?.loginId }}</span>
    <button mat-button color="warn" (click)="authenticator.signOut()">
      <mat-icon>logout</mat-icon> Se déconnecter
    </button>
  } @else {
    <button mat-button color="accent" (click)="showLogin.set(true)">
      <mat-icon>login</mat-icon> Se connecter
    </button>
  }

  <mat-slide-toggle [checked]="isDark()" (change)="toggleDarkMode()">
    {{ isDark() ? "Dark 🌚" : "Light 🌞" }}
  </mat-slide-toggle>
</mat-toolbar>

<!-- Authenticator -->
@if (showLogin() && !authenticator.user) {
  <amplify-authenticator class="auth-container"></amplify-authenticator>
}
  <router-outlet></router-outlet>

