<div class="database-container">
  <div class="form-wrapper mat-elevation-z1">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      @for (tab of tabs(); track tab) {
        <a
          mat-tab-link
          [routerLink]="tab.route"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ tab.label | translate }}
        </a>
      }
    </nav>

    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </div>
</div>
