@use '../../../../../../shared/styles/map.scss';

.map-wrapper {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

.hint {
  margin-top: 8px;
  font-size: 0.85rem;
  opacity: 0.7;
}

