<form [formGroup]="form" class="grid-container">
  <!-- TITLE -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "sound.sound-data-title" | translate }}</mat-label>
      <input matInput formControlName="title" (blur)="onFieldBlur('title')" />
      @if (form.get("title")?.hasError("required")) {
        <mat-error>{{ "common.errors.required" | translate }}</mat-error>
      }
    </mat-form-field>

    <button
      mat-icon-button
      color="accent"
      type="button"
      [disabled]="form.get('title')?.invalid"
      (click)="openTranslationDialog('title')"
    >
      <mat-icon>translate</mat-icon>
    </button>
  </div>

  <!-- SHORT STORY -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "sound.sound-data-shortStory" | translate }}</mat-label>
      <textarea
        matInput
        formControlName="shortStory"
        (blur)="onFieldBlur('shortStory')"
      ></textarea>
    </mat-form-field>

    <button
      mat-icon-button
      color="accent"
      type="button"
      [disabled]="form.get('shortStory')?.invalid"
      (click)="openTranslationDialog('shortStory')"
    >
      <mat-icon>translate</mat-icon>
    </button>
  </div>

  <!-- CATEGORY -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "categories.category" | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="categoryControl"
        [matAutocomplete]="catAuto"
      />
      <mat-autocomplete #catAuto="matAutocomplete" [displayWith]="displayFn">
        @for (opt of filteredCategories; track opt.key) {
          <mat-option [value]="opt">{{ opt.label }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- SECONDARY CATEGORY -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "categories.secondaryCategory" | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="secondaryCategoryControl"
        [matAutocomplete]="subAuto"
      />
      <mat-autocomplete #subAuto="matAutocomplete" [displayWith]="displayFn">
        @for (opt of filteredSecondaryCategories; track opt.key) {
          <mat-option [value]="opt">{{ opt.label }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- RECORD DATE -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "sound.record-date" | translate }}</mat-label>

      <input
        matInput
        [matDatepicker]="picker"
        formControlName="recordDateTime"
      />

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- EQUIPMENT -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "sound.equipment" | translate }}</mat-label>
      <input
        matInput
        formControlName="equipment"
        placeholder="{{ 'sound.equipment-placeholder' | translate }}"
      />
    </mat-form-field>
  </div>


  <!-- LICENSE -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "categories.license" | translate }}</mat-label>
      <mat-select [formControl]="licenseControl">
        <mat-option
          *ngFor="let opt of licenseOptions"
          [value]="opt.value"
          matTooltip="{{ opt.tooltip | translate }}"
          matTooltipPosition="above"
        >
          {{ opt.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- STATUS -->
  <div class="grid-item">
    <mat-form-field class="full-width">
      <mat-label>{{ "sound.status" | translate }}</mat-label>
      <mat-select
        [formControl]="statusControl"
        (selectionChange)="onStatusChange()"
      >
        <mat-option
          value="private"
          matTooltip="{{ 'sound.statusPrivate_tooltip' | translate }}"
          matTooltipPosition="above"
        >
          {{ "sound.statusPrivate" | translate }}
        </mat-option>
        <mat-option
          value="public"
          matTooltip="{{ 'sound.statusPublic_tooltip' | translate }}"
          matTooltipPosition="above"
        >
          {{ "sound.statusPublic" | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
