.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 10px;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
  }

  .grid-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .full-width {
    flex: 1;
  }
}

::ng-deep .mat-horizontal-stepper-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


