/* GRID pour header + map - comportement défaut : GRAND ÉCRAN */
.header-container {
  display: grid;
  grid-template-rows: 40% 25%;
  height: calc(100vh - 64px - 180px);
  text-align: center;
  padding: 0 16px;
}

/* PETIT ÉCRAN (< 768px) → hauteur plein écran */
@media (max-width: 768px) {
  .header-container {
    height: calc(100vh - 64px);  /* Mobile */
    grid-template-rows: 50% 50%; /* optionnel : adapte la répartition */
  }
}

/* Zones */
.zone-header,
.zone-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  padding: 5px;
}
