/* GRID pour header + map - comportement défaut : GRAND ÉCRAN */
.header-container {
  display: grid;
  grid-template-rows: 40% 25%;
  height: calc(100vh - 64px - 180px);
  text-align: center;
  padding: 0 16px;
}

/* Zones */
.zone-header,
.zone-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  padding: 5px;
}
