<div class="form-wrapper">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Importer un fichier audio</mat-label>

    <input
      matInput
      [value]="selectedFile?.name || ''"
      placeholder="Aucun fichier sélectionné"
      readonly
    />

    <button
      mat-raised-button
      color="primary"
      matSuffix
      class="input-file-button"
      (click)="fileInput.click()"
      [disabled]="uploading"
    >
      <mat-icon>upload_file</mat-icon>
    </button>
  </mat-form-field>

  <!-- Input file réel (caché) -->
  <input
    type="file"
    #fileInput
    hidden
    accept="audio/*"
    (change)="onFileSelected($event)"
  />
</div>

<button
  mat-raised-button
  color="primary"
  (click)="upload()"
  [disabled]="!selectedFile || uploading"
>
  Uploader
</button>

@if (uploading) {
  <mat-progress-bar
    mode="determinate"
    [value]="progress"
  ></mat-progress-bar>
}

@if (error) {
  <p class="error">{{ error }}</p>
}
