@use "@angular/material" as mat;

// =======================
// Material Core
// =======================
@include mat.core();

// =======================
// Define Themes (M18+)
// =======================

// Light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: (
      brand-family: "Inter, system-ui, Avenir, Helvetica, Arial, sans-serif",
    ),
  )
);

// Dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$blue-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: (
      brand-family: "Inter, system-ui, Avenir, Helvetica, Arial, sans-serif",
    ),
  )
);

// =======================
// Apply theme classes
// =======================
.light-theme {
  @include mat.all-component-themes($light-theme);
  @include mat.typography-hierarchy($light-theme); // typography classes
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include mat.typography-hierarchy($dark-theme);
}

// =======================
// Body & main layout
// =======================
body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column; // toolbar en haut, content en dessous
}

// body.light-theme {
//   background: linear-gradient(180deg, #dbe4ff, #ffffff);
// }

// body.dark-theme {
//   background: linear-gradient(
//     180deg,
//     rgb(1, 31, 96) 0%,
//     rgba(5, 52, 153, 0.69) 70%,
//     rgb(62, 91, 153) 100%
//   );
// }

body.dark-theme {
  background-color: #01012e;
  color: #eeecec;
}

.form-wrapper {
  width: 100%;
  max-width: 800px;
  padding: 32px;
  border-radius: 12px;
  box-sizing: border-box;

  // Light theme
  // body.light-theme & {
  //   background-color: #f1f5fa;
  //   color: #1a1a1a;
  // }

  // // Dark theme
  // body.dark-theme & {
  //   background-color: #2c2c3e;
  //   color: #f5f5f5;
  // }

  transition:
    background-color 0.3s,
    color 0.3s;
}

// main content area
main.content {
  display: flex;
  flex-direction: column;
  align-items: center; // centre horizontalement
  justify-content: center; // centre verticalement dans l'espace restant
  flex: 1; // prend tout l’espace disponible sous la toolbar
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}

/* Example targeting mat-card-title & icon to be explicit (only if needed) */
mat-card-title.dark-theme {
  color: #f5f5f5 !important;
}

body.dark-theme {
  mat-card {
    background-color: #2c2c3e;
    color: #f5f5f5;
  }
}


